<!DOCTYPE html>
<html lang="zh-CN"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>耕地地力评价系统-评价结果</title>

<script src="../static/js/jquery-1.8.3.min.js"></script>
<link href="../static/css/comm.css" rel="stylesheet" type="text/css">
<link href="../static/css/head.css" rel="stylesheet">
<script language="javascript" src="../static/js/tcss.ping.https.js"></script>
<script language="javascript" src="../static/js/detail_nav.js"></script>
<script type="text/javascript">
$(function(){

	//建议ie8以上浏览器
	var w = document.body.scrollWidth;
    $("#tip").width(w);

	var Sys = {};
    var ua = navigator.userAgent.toLowerCase();

    var s;
    (s = ua.match(/msie ([\d.]+)/)) ? Sys.ie = s[1] :
    (s = ua.match(/firefox\/([\d.]+)/)) ? Sys.firefox = s[1] :
    (s = ua.match(/chrome\/([\d.]+)/)) ? Sys.chrome = s[1] :
    (s = ua.match(/opera.([\d.]+)/)) ? Sys.opera = s[1] :
    (s = ua.match(/version\/([\d.]+).*safari/)) ? Sys.safari = s[1] : 0;
    var t = ua.match(/trident/);
    if (Sys.ie){
	    var sys = null;
		sys = Sys.ie;
		var v = parseInt(sys);
		if(v < 8){
			document.getElementById("tip").style.display = "block";
		//	setTimeout(function(){ document.getElementById("tip").style.display = "none"; },10000);
		}
	}

    $("#image").bind("click",function(){
		document.getElementById("tip").style.display = "none";
	})
})

</script>


</head>
<body >
	<div id="tip" style="width: 1918px;">
		<span class="tip">建议使用IE8以上版本或其他浏览器</span> <img src="../static/images/close.png" id="image">
	</div>
	<div id="orientation_tip">
	    <span class="tip">建议使用横屏浏览</span> <span style="" id="image2"><img src="../static/images/close(1).png" style="margin: 20px 0 0 20px"></span>
	</div>
	<div style="background: #FFF; width: 100%">
		<div class="top">
			<div class="wtitle">
				<a href="index"><img src="../static/images/head_title.png" height="90" style="border:0"></a>
			</div>
			<ul style="margin-right:20px">
                <li><a href="index">首页</a></li>
                <li><a href="infoinput">信息录入</a></li>
			</ul>
			<div class="nick_nologin">
				<div id="nologin" style="display: none;">
					<a href="admin">登录</a>
				</div>
			</div>
		</div>
	</div>

    <script type="text/javascript" src="../static/js/userLogin.js"></script>
    <script type="text/javascript" src="../static/js/showDialog.fix.js"></script>
    <!--<script src="../static/js/showpic.js" type="text/javascript"></script>-->
    <link href="../static/css/detail.css" rel="stylesheet" type="text/css">
    <!--<link rel="stylesheet" type="text/css" href="../static/css/showpic.css">-->

    <script>
        $(document).ready(function(){
            var md5 = "8a0597225f9d4f55e16e4caa73248af7";
            var pk = "ADYGZV1rB2MIPVs8";
            var sys = "";
            var status = "processing"
            loadData(md5,pk,sys);
            var interval = setInterval(function(){
                loadData(md5,pk,sys);
            }, 10000);
            function loadData(md5,pk,sys)
            {
                /* $.ajax({
                    url:"file/detailcontent?pk=ADYGZV1rB2MIPVs8",
                    dataType:"json",
                    success:function(r){
                        if(r["status"] == "processed") {
                            if(status=="processing") {
                                $("title").html("耕地地力评价系统-已完成");
                            }else{
                                $("title").html("耕地地力评价系统");
                            }
                            clearInterval(interval);
                        }

                        $("#detail_frame").html(r["data"]);
                        if(location.hash != "") {
                            $("body,html").animate({scrollTop:$(location.hash).offset().top});
                        }
                    }
                }); */
            }
    //$("title").html("耕地地力评价系统-正在分析...");
    });
	</script>
    <div id="detail_frame"><div class="banner">
        <div class="banner_in">
            <div class="ret_info">
                <div class="info1" style="margin: 0">耕地地力评价：</div>
                <div class="info5">
                    <div class="yellow color">X 级地</div>
                    <div class="banner_bar_bg">
                        <div class="banner_bar banner_bar_yellow"></div>
                        <div class="selection_bar selection_yellow"></div>
                    </div>

                </div>
                <p class="info3" style="background: url(../static/images/fico_other.png) no-repeat;padding-left:40px">
                    信息来源：
                    <span title="The_Django_Book_2.0中文译本.pdf">xxx </span>
                </p>
                <p class="info2" style="margin:15px 0 0 0"></p>
            </div>
            <div class="banner_right">
                <a class="upload" href="index">上传分析其他文件&gt;</a>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="sub">
            <ul style=" background-position: 80px 0px;">
                <li class="set"><a href="#baseinfo" class="set">耕地基本信息</a></li>
                <li><a href="#natrueinfo" class="">耕地自然因素</a></li>
                <li><a href="#management" class="">耕作管理情况</a></li>
                <li><a href="#fertilization" class="">耕地施肥情况</a></li>
                <li><a href="#reasonable">利用合理程度</a></li>
                <li><a href="#change">更改可能用途</a></li>
                <li><a href="#improve">改善地力措施</a></li>
            </ul>
        </div>
        <div class="main_info">
            <div id="baseinfo">
                <h3 class="step">
                    <span>耕地基本信息</span>
                </h3>
                <div class="tab">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr>
                                    <td class="tdwid" style="width:20%">耕地名称：</td>
                                    <td style="width:80%">
                                        <p title="fieldname">
                                            fieldname
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>耕地类别：</td>
                                    <td>type</td>
                                </tr>
                                <tr>
                                    <td>有机质含量：</td>
                                    <td>organic_matter</td>
                                </tr>
                                <tr>
                                    <td>全氮含量：</td>
                                    <td>total_nitrogen</td>
                                </tr>
                                <tr>
                                    <td>速效磷含量：</td>
                                    <td>available_P</td>
                                </tr>
                                <tr>
                                    <td>速效钾含量：</td>
                                    <td>available_K</td>
                                </tr>
                                <tr>
                                    <td>耕地地力评估：</td>
                                    <td>land_capability</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
            </div>
            <div id="natrueinfo">
                <h3 class="step">
                    <span>耕地自然因素</span>
                </h3>
                <div class="tab">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td class="tdwid" style="width:20%">地形：</td>
                                <td style="width:80%">
                                    <p title="terrain">
                                        terrain
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>植被：</td>
                                <td>vegetation</td>
                            </tr>
                            <tr>
                                <td>气候：</td>
                                <td>climate</td>
                            </tr>
                            <tr>
                                <td>水文：</td>
                                <td>hydrology</td>
                            </tr>
                            <tr>
                                <td>光照强度：</td>
                                <td>Illumination  intensity</td>
                            </tr>
                            <tr>
                                <td>光照时间：</td>
                                <td>Illumination time</td>
                            </tr>
                            <tr>
                                <td>风向风速：</td>
                                <td>Wind direction & wind speed</td>
                            </tr>
                            <tr>
                                <td>病虫草害情况：</td>
                                <td>Plant diseases and insect pests</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="management">
                <h3 class="step">
                    <span>耕作管理情况</span>
                </h3>
                <div class="tab">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td class="tdwid" style="width:20%">耕作物：</td>
                                <td style="width:80%">
                                    <p title="Cultivated crops">
                                        Cultivated crops
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>耕作周期：</td>
                                <td>Cultivation cycle</td>
                            </tr>
                            <tr>
                                <td>耕作物：</td>
                                <td>Cultivated crops</td>
                            </tr>
                            <tr>
                                <td>耕作周期：</td>
                                <td>Cultivation cycle</td>
                            </tr>
                            <tr>
                                <td>耕作物：</td>
                                <td>Cultivated crops</td>
                            </tr>
                            <tr>
                                <td>耕作周期：</td>
                                <td>Cultivation cycle</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="fertilization">
                <h3 class="step">
                    <span>耕地施肥情况</span>
                </h3>
                <div class="tab">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td class="tdwid" style="width:20%">化肥量：</td>
                                <td style="width:80%">
                                    <p title="chemical fertilizer">
                                        chemical fertilizer
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>农肥量：</td>
                                <td>Manure</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="reasonable">
                <h3 class="step">
                    <span>利用合理程度</span>
                </h3>
                <div class="tab">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td class="tdwid" style="width:20%">合理程度评价：</td>
                                <td style="width:80%">
                                    <p title="Evaluation of rational ">
                                        Evaluation of rational
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>理由：</td>
                                <td>Reason</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="change">
                <h3 class="step">
                    <span>更改可能用途</span>
                </h3>
                <div class="tab">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td class="tdwid" style="width:20%">耕地可更改用途为：</td>
                                <td style="width:80%">
                                    <p title="Change for xxx">
                                        Change for xxx
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>可能性：</td>
                                <td>Possibility</td>
                            </tr>
                            <tr>
                                <td>条件：</td>
                                <td>Condition</td>
                            </tr>
                            <tr>
                                <td>耕地可更改用途为：</td>
                                <td>Change for xxx</td>
                            </tr>
                            <tr>
                                <td>可能性：</td>
                                <td>Possibility</td>
                            </tr>
                            <tr>
                                <td>条件：</td>
                                <td>Condition</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="improve">
                <h3 class="step">
                    <span>改善地力措施</span>
                </h3>
                <div class="tab">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td>主要改善耕地元素的缺乏，可通过调整施肥的量来调整</td>
                            </tr>
                            <tr>
                                <td>调整耕作物和耕作周期</td>
                            </tr>
                            <tr>
                                <td>增加相关用途，充分利用土地</td>
                            </tr>
                            <tr>
                                <td>从可持续发展的角度去使用土地</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    </div>
<div class="foot" style="position: relative">
	<div style="width: 1000px; margin: 0 auto">
		Copyright© 2016 .All Rights Reserved<br> 版权所有
	</div>
</div>
<script type="text/javascript">
	  $(document).ready( function() {
	    $(".main").jumpto();
	  });

</script>
</body></html>