<!DOCTYPE html>
<html lang="zh-CN"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>耕地地力评价系统-评价结果</title>

<script src="../static/js/jquery-1.8.3.min.js"></script>
<link href="../static/css/comm.css" rel="stylesheet" type="text/css">
<link href="../static/css/head.css" rel="stylesheet">
<script language="javascript" src="../static/js/detail_nav.js"></script>
<script type="text/javascript">
$(function(){

	//建议ie8以上浏览器
	var w = document.body.scrollWidth;
    $("#tip").width(w);

	var Sys = {};
    var ua = navigator.userAgent.toLowerCase();

    var s;
    (s = ua.match(/msie ([\d.]+)/)) ? Sys.ie = s[1] :
    (s = ua.match(/firefox\/([\d.]+)/)) ? Sys.firefox = s[1] :
    (s = ua.match(/chrome\/([\d.]+)/)) ? Sys.chrome = s[1] :
    (s = ua.match(/opera.([\d.]+)/)) ? Sys.opera = s[1] :
    (s = ua.match(/version\/([\d.]+).*safari/)) ? Sys.safari = s[1] : 0;
    var t = ua.match(/trident/);
    if (Sys.ie){
	    var sys = null;
		sys = Sys.ie;
		var v = parseInt(sys);
		if(v < 8){
			document.getElementById("tip").style.display = "block";
		//	setTimeout(function(){ document.getElementById("tip").style.display = "none"; },10000);
		}
	}

    $("#image").bind("click",function(){
		document.getElementById("tip").style.display = "none";
	})
})

</script>


</head>
<body >
	<div id="tip" style="width: 1918px;">
		<span class="tip">建议使用IE8以上版本或其他浏览器</span> <img src="../static/images/close.png" id="image">
	</div>
	<div id="orientation_tip">
	    <span class="tip">建议使用横屏浏览</span> <span style="" id="image2"><img src="../static/images/close(1).png" style="margin: 20px 0 0 20px"></span>
	</div>
	<div style="background: #FFF; width: 100%">
		<div class="top">
			<div class="wtitle">
				<a href="index"><img src="../static/images/head_title.png" height="90" style="border:0"></a>
			</div>
			<ul style="margin-right:20px">
                <li><a href="index">首页</a></li>
                <li><a href="infoinput">信息录入</a></li>
			</ul>
			<div class="nick_nologin">
				<div id="nologin" style="display: none;">
					<a href="admin">登录</a>
				</div>
			</div>
		</div>
	</div>

    <link href="../static/css/detail.css" rel="stylesheet" type="text/css">

    <script>
        $(document).ready(function(){
            var level = $(".yellow.color").text();
            var index;
            if(level == "一级地"){
                index = 6;
            }else if(level == "二级地"){
                index = 5;
            }else if(level == "三级地"){
                index = 4;
            }else if(level == "四级地"){
                index = 3;
            }else if(level == "五级地"){
                index = 2;
            }else{
                index = 1;
            }
            var left = 17 * index - 28;
            var width = 17 * index;
            $(".banner_bar.banner_bar_yellow").css("width",width + "px");
            $(".selection_bar.selection_yellow").css("left",left + "px");
        });
    </script>
    <div id="detail_frame"><div class="banner">
        <div class="banner_in">
            <div class="ret_info">
                <div class="info1" style="margin: 0">耕地地力评价：</div>
                <div class="info5">
                    <div class="yellow color">{{ level }}级地</div>
                    <div class="banner_bar_bg">
                        <div class="banner_bar banner_bar_yellow"></div>
                        <div class="selection_bar selection_yellow"></div>
                    </div>

                </div>
                <p class="info3" style="background: url(../static/images/fico_other.png) no-repeat;padding-left:40px">
                    信息来源：
                    <span>{{ source }} </span>
                </p>
                <p class="info2" style="margin:15px 0 0 0"></p>
            </div>
            <div class="banner_right">
                <a class="upload" href="index">上传分析其他文件&gt;</a>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="sub">
            <ul style=" background-position: 80px 0px;">
                <li class="set"><a href="#baseinfo" class="set">耕地基本信息</a></li>
                <li><a href="#natrueinfo" class="">耕地自然因素</a></li>
                <li><a href="#management" class="">耕作管理情况</a></li>
                <li><a href="#fertilization" class="">耕地施肥情况</a></li>
                <li><a href="#reasonable">利用合理程度</a></li>
                <li><a href="#change">更改可能用途</a></li>
                <li><a href="#improve">改善地力措施</a></li>
            </ul>
        </div>
        <div class="main_info">
            <div id="baseinfo">
                <h3 class="step">
                    <span>耕地基本信息</span>
                </h3>
                <div class="tab">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr>
                                    <td class="tdwid" style="width:20%">土壤类别：</td>
                                    <td style="width:80%">
                                        <p>
                                            {{ earth_type }}
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>耕地类别：</td>
                                    <td>{{ field_type }}</td>
                                </tr>
                                <tr>
                                    <td>有机质含量：</td>
                                    <td>{{ organic_matter }} g/kg</td>
                                </tr>
                                <tr>
                                    <td>全氮含量：</td>
                                    <td>{{ total_nitrogen }} g/kg</td>
                                </tr>
                                <tr>
                                    <td>速效磷含量：</td>
                                    <td>{{ available_p }} g/kg</td>
                                </tr>
                                <tr>
                                    <td>速效钾含量：</td>
                                    <td>{{ available_k }} g/kg</td>
                                </tr>
                                <tr>
                                    <td>耕地地力评估：</td>
                                    <td>{{ land_capability }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
            </div>
            <div id="natrueinfo">
                <h3 class="step">
                    <span>耕地自然因素</span>
                </h3>
                <div class="tab">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td class="tdwid" style="width:20%">地形：</td>
                                <td style="width:80%">
                                    <p>
                                        {{ terrain }}
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>植被：</td>
                                <td>{{ vegetation }}</td>
                            </tr>
                            <tr>
                                <td>气候：</td>
                                <td>{{ climate }}</td>
                            </tr>
                            <tr>
                                <td>光照强度：</td>
                                <td>{{ illumination_intensity }} lx</td>
                            </tr>
                            <tr>
                                <td>光照时间：</td>
                                <td>{{ illumination_time }} h/d</td>
                            </tr>
                            <tr>
                                <td>风向风速：</td>
                                <td>{{ wind_direction }} & {{ wind_speed }} m/s</td>
                            </tr>
                            <tr>
                                <td>病虫草害情况：</td>
                                <td>{{ plant_diseases }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="management">
                <h3 class="step">
                    <span>耕作管理情况</span>
                </h3>
                <div class="tab">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td class="tdwid" style="width:20%">耕作物：</td>
                                <td style="width:80%">
                                    <p>
                                        {{ cultivated_crops1 }}
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>耕作周期：</td>
                                <td>{{ cultivation_cycle1 }} t/y</td>
                            </tr>
                            <tr>
                                <td>耕作物：</td>
                                <td>{{ cultivated_crops2 }}</td>
                            </tr>
                            <tr>
                                <td>耕作周期：</td>
                                <td>{{ cultivation_cycle2 }} t/y</td>
                            </tr>
                            <tr>
                                <td>耕作物：</td>
                                <td>{{ cultivated_crops3 }}</td>
                            </tr>
                            <tr>
                                <td>耕作周期：</td>
                                <td>{{ cultivation_cycle3 }} t/y</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="fertilization">
                <h3 class="step">
                    <span>耕地施肥情况</span>
                </h3>
                <div class="tab">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td class="tdwid" style="width:20%">化肥量：</td>
                                <td style="width:80%">
                                    <p>
                                        {{ chemical_fertilizer }} kg/mu
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>农肥量：</td>
                                <td>{{ manure }} kg/mu</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="reasonable">
                <h3 class="step">
                    <span>利用合理程度</span>
                </h3>
                <div class="tab">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td class="tdwid" style="width:20%">合理程度：</td>
                                <td style="width:80%">
                                    <p>
                                       {{ evaluation }}
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>理由：</td>
                                <td>{{ reason }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="change">
                <h3 class="step">
                    <span>更改可能用途</span>
                </h3>
                <div class="tab">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td class="tdwid" style="width:20%">耕地可更改用途为：</td>
                                <td style="width:80%">
                                    <p>
                                        {{ change_for1 }}
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>可能性：</td>
                                <td>{{ possibility1 }}</td>
                            </tr>
                            <tr>
                                <td>条件：</td>
                                <td>{{ condition1 }}</td>
                            </tr>
                            <tr>
                                <td>耕地可更改用途为：</td>
                                <td>{{ change_for2 }}</td>
                            </tr>
                            <tr>
                                <td>可能性：</td>
                                <td>{{ possibility2 }}</td>
                            </tr>
                            <tr>
                                <td>条件：</td>
                                <td>{{ condition2 }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="improve">
                <h3 class="step">
                    <span>改善地力措施</span>
                </h3>
                <div class="tab">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                {% if lack %}
                                <td>耕地主要缺乏{{ lack }}元素，在原本的施肥量上可以通过多施含有{{ lack }}的肥料来提高耕地地力</td>
                                {% else %}
                                <td>耕地为一级地，各耕地元素已处于最佳水平，只需保持原来施肥量来维持原状即可</td>
                                {% endif %}
                            </tr>
                            <tr>
                                <td>调整耕作物和耕作周期，增加相关用途，充分利用土地，在相同的耕地地力上创造更多的经济收入</td>
                            </tr>
                            <tr>
                                <td>从可持续发展的角度去使用土地，在保证耕地地力不衰减的同时保证耕作物的持续收成</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    </div>
<div class="foot" style="position: relative">
	<div style="width: 1000px; margin: 0 auto">
		Copyright© 2016 .All Rights Reserved<br> 版权所有
	</div>
</div>
<script type="text/javascript">
	  $(document).ready( function() {
	    $(".main").jumpto();
	  });

</script>
</body></html>