<!DOCTYPE html>
<html lang="zh-CN"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>耕地地力评价系统-评价结果</title>

<script src="/static/js/jquery-1.8.3.min.js"></script>
<link href="/static/css/comm.css" rel="stylesheet" type="text/css">
<link href="/static/css/head.css" rel="stylesheet">
<script language="javascript" src="/static/js/detail_nav.js"></script>
<script type="text/javascript">
$(function(){
	//建议ie8以上浏览器
	var w = document.body.scrollWidth;
    $("#tip").width(w);

	var Sys = {};
    var ua = navigator.userAgent.toLowerCase();

    var s;
    (s = ua.match(/msie ([\d.]+)/)) ? Sys.ie = s[1] :
    (s = ua.match(/firefox\/([\d.]+)/)) ? Sys.firefox = s[1] :
    (s = ua.match(/chrome\/([\d.]+)/)) ? Sys.chrome = s[1] :
    (s = ua.match(/opera.([\d.]+)/)) ? Sys.opera = s[1] :
    (s = ua.match(/version\/([\d.]+).*safari/)) ? Sys.safari = s[1] : 0;
    var t = ua.match(/trident/);
    if (Sys.ie){
	    var sys = null;
		sys = Sys.ie;
		var v = parseInt(sys);
		if(v < 8){
			document.getElementById("tip").style.display = "block";
		//	setTimeout(function(){ document.getElementById("tip").style.display = "none"; },10000);
		}
	}

    $("#image").bind("click",function(){
		document.getElementById("tip").style.display = "none";
	})

    $("#moreinfo").click(function () {
        $("#moreinfo").css("display","none");
        $("#subinfo").css("display","block");
    })

    $("#lessinfo").click(function () {
        $("#subinfo").css("display","none");
        $("#moreinfo").css("display","block");
    })
})

</script>


</head>
<body >
	<div id="tip" style="width: 1918px;">
		<span class="tip">建议使用IE8以上版本或其他浏览器</span> <img src="/static/images/close.png" id="image">
	</div>
	<div id="orientation_tip">
	    <span class="tip">建议使用横屏浏览</span> <span style="" id="image2"><img src="/static/images/close(1).png" style="margin: 20px 0 0 20px"></span>
	</div>
	<div style="background: #FFF; width: 100%">
		<div class="top">
			<div class="wtitle">
				<a href="index"><img src="/static/images/head_title.png" height="90" style="border:0"></a>
			</div>
			<ul style="margin-right:20px">
                <li><a href="/index">首页</a></li>
                <li><a href="/info-input">信息录入</a></li>
                <li><a href="/compare">算法比较</a></li>
			</ul>
		</div>
	</div>

    <link href="/static/css/detail.css" rel="stylesheet" type="text/css">

    <script>
        $(document).ready(function(){
            var level = $(".yellow.color").text();
            var index;
            if(level == "一级地"){
                index = 6;
            }else if(level == "二级地"){
                index = 5;
            }else if(level == "三级地"){
                index = 4;
            }else if(level == "四级地"){
                index = 3;
            }else if(level == "五级地"){
                index = 2;
            }else{
                index = 1;
            }
            var left = 17 * index - 28;
            var width = 17 * index;
            $(".banner_bar.banner_bar_yellow").css("width",width + "px");
            $(".selection_bar.selection_yellow").css("left",left + "px");
        });
    </script>
    <div id="detail_frame"><div class="banner">
        <div class="banner_in" style="margin: 20px auto 20px auto">
            <div class="ret_info" style="height: 170px;">
                <div class="info1" style="margin: 0">耕地地力评价：</div>
                <div class="info5">
                    <div class="yellow color">{{ level }}级地</div>
                    <div class="banner_bar_bg">
                        <div class="banner_bar banner_bar_yellow"></div>
                        <div class="selection_bar selection_yellow"></div>
                    </div>

                </div>
                <p class="info3" style="background: url(/static/images/fico_other.png) no-repeat;padding-left:40px">
                    信息来源：
                    <span>{{ source }} </span>
                    <br>
                    核函数(准确率)：
                    <span>{{ algorithm }} ({{ score }})</span>
                </p>
                <p class="info2" style="margin:15px 0 0 0"></p>
            </div>
            <div class="banner_right">
                <a class="upload" href="/index">上传分析其他文件&gt;</a>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="sub">
            <ul style=" background-position: 80px 0px;">
                <li class="set"><a href="#baseinfo" class="set">耕地基本信息</a></li>
                <li><a href="#natrueinfo" class="">耕地自然因素</a></li>
                <li><a href="#management" class="">耕作管理情况</a></li>
                <li><a href="#fertilization" class="">耕地施肥情况</a></li>
                <li><a href="#reasonable">利用合理程度</a></li>
                <li><a href="#change">更改可能用途</a></li>
                <li><a href="#improve">改善地力措施</a></li>
            </ul>
        </div>
        <div class="main_info">
            <div id="baseinfo">
                <h3 class="step">
                    <span>耕地基本信息</span>
                </h3>
                <div class="tab">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr>
                                    <td class="tdwid" style="width:20%">土壤类别：</td>
                                    <td style="width:80%">
                                        <p>
                                            {{ earth_type }}
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>耕地类别：</td>
                                    <td>{{ field_type }}</td>
                                </tr>
                                <tr>
                                    <td>有机质含量：</td>
                                    <td>{{ organic_matter }} μg/g</td>
                                </tr>
                                <tr>
                                    <td>全氮含量：</td>
                                    <td>{{ total_nitrogen }} μg/g</td>
                                </tr>
                                <tr>
                                    <td>速效磷含量：</td>
                                    <td>{{ available_p }} μg/g</td>
                                </tr>
                                <tr>
                                    <td>速效钾含量：</td>
                                    <td>{{ available_k }} μg/g</td>
                                </tr>
                                <tr>
                                    <td>耕地地力评估：</td>
                                    <td>{{ land_capability }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
            </div>
            <div id="natrueinfo">
                <h3 class="step">
                    <span>耕地自然因素</span>
                </h3>
                <div class="tab">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td class="tdwid" style="width:20%">地形：</td>
                                <td style="width:80%">
                                    <p>
                                        {{ terrain }}
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>植被：</td>
                                <td>{{ vegetation }}</td>
                            </tr>
                            <tr>
                                <td>气候：</td>
                                <td>{{ climate }}</td>
                            </tr>
                            <tr>
                                <td>光照强度：</td>
                                <td>{{ illumination_intensity }} lx</td>
                            </tr>
                            <tr>
                                <td>光照时间：</td>
                                <td>{{ illumination_time }} h/d</td>
                            </tr>
                            <tr>
                                <td>风向风速：</td>
                                <td>{{ wind_direction }} & {{ wind_speed }} m/s</td>
                            </tr>
                            <tr>
                                <td>病虫草害情况：</td>
                                <td>{{ plant_diseases }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="management">
                <h3 class="step">
                    <span>耕作管理情况</span>
                </h3>
                <div class="tab">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td class="tdwid" style="width:20%">耕作物：</td>
                                <td style="width:80%">
                                    <p>
                                        {{ cultivated_crops1 }}
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>耕作周期：</td>
                                <td>{{ cultivation_cycle1 }} t/y</td>
                            </tr>
                            <tr>
                                <td>耕作物：</td>
                                <td>{{ cultivated_crops2 }}</td>
                            </tr>
                            <tr>
                                <td>耕作周期：</td>
                                <td>{{ cultivation_cycle2 }} t/y</td>
                            </tr>
                            <tr>
                                <td>耕作物：</td>
                                <td>{{ cultivated_crops3 }}</td>
                            </tr>
                            <tr>
                                <td>耕作周期：</td>
                                <td>{{ cultivation_cycle3 }} t/y</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="fertilization">
                <h3 class="step">
                    <span>耕地施肥情况</span>
                </h3>
                <div class="tab">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td class="tdwid" style="width:20%">化肥量：</td>
                                <td style="width:80%">
                                    <p>
                                        {{ chemical_fertilizer }} g/mu
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>农肥量：</td>
                                <td>{{ manure }} g/mu</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="reasonable">
                <h3 class="step">
                    <span>利用合理程度</span>
                </h3>
                <div class="tab">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td class="tdwid" style="width:20%">合理程度：</td>
                                <td style="width:80%">
                                    <p>
                                       {{ evaluation }}
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>理由：</td>
                                <td>{{ reason }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="change">
                <h3 class="step">
                    <span>更改可能用途</span>
                </h3>
                <div class="tab">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td class="tdwid" style="width:20%">耕地可更改用途为：</td>
                                <td style="width:80%">
                                    <p>
                                        {{ change_for1 }}
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>可能性：</td>
                                <td>{{ possibility1 }}</td>
                            </tr>
                            <tr>
                                <td>条件：</td>
                                <td>{{ condition1 }}</td>
                            </tr>
                            <tr>
                                <td>耕地可更改用途为：</td>
                                <td>{{ change_for2 }}</td>
                            </tr>
                            <tr>
                                <td>可能性：</td>
                                <td>{{ possibility2 }}</td>
                            </tr>
                            <tr>
                                <td>条件：</td>
                                <td>{{ condition2 }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="improve">
                <h3 class="step">
                    <span>改善地力措施</span>
                </h3>
                <div class="tab">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td style="font-weight: bold;font-size: 14px;">耕地微量元素的改进：</td>
                            </tr>
                            <tr>
                                {% if lack %}
                                <td>耕地主要缺乏{{ lack }}元素，在原本的施肥量上可以通过多施含有{{ lack }}的肥料来提高耕地地力</td>
                                {% else %}
                                <td>耕地为一级地，各耕地元素已处于最佳水平，只需保持原来施肥量来维持原状即可</td>
                                {% endif %}
                            </tr>
                            <tr>
                                <td>调整耕作物和耕作周期，增加相关用途，充分利用土地，在相同的耕地地力上创造更多的经济收入</td>
                            </tr>
                            <tr>
                                <td>从可持续发展的角度去使用土地，在保证耕地地力不衰减的同时保证耕作物的持续收成</td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold;font-size: 14px;">耕地管理的改进：土地管理因根据不同的耕地情况及相关的耕地建设的不同而有所改变，在此，仅提供宏观方向上的建议！！</td>
                            </tr>
                            <tr>
                                <td><font style="color: #ff1b11;font-weight: bold">（1）</font>增加投入，提高资源的使用效率。在保证农业择优利用的基础上，采取有效的措施，增加对农用地的投入，针对不同地
                                        区、不同条件、不同集约水平下的农用地采取不同的措施：对投入水平较高的区域，
                                        应考虑加大技术投入，通过技术创新，走内涵式发展的现代农业道路；
                                        对于投入水平相对较低的区域，应增加机械、资本等投入，合理地
                                        增加化肥农药投入，适时适地增施有机肥，以促进农用地的高效集约利用。
                                        根据土地报酬递减规律，在一定的技术水平下，当追加的非土地自身要素投入超过一
                                        定的界限时，土地总报酬的增加会呈现递减趋势。因而还要增加科研投入，大力发展农业
                                        科学技术，积极采用先进的技术（如选育良种、合理耕作、科学施肥、提高复种指数及增
                                        加农业机械化动力等），以及科学的管理方法（如粮食、果蔬、饲料等合理轮作和间作），
                                        提高农业生产资料的使用效率及土地产出率；提倡和鼓励节水农艺技术的推广使用，不断
                                        提高水资源利用率。
                                </td>
                            </tr>
                            <tr>
                                <td><font style="color: #ff1b11;font-weight: bold">（2）</font>加快推进高标准农田建设，确保耕地数量稳定和质量总体提高。集中连片推进土地整治，
                                        实行田、水、路、林综合治理，大规模开展中低产田改造，提高高标准农田比重。通过土地整理等高标准农
                                        田建设，不仅能够增加耕地面积，而且能改善农业生产条件，提高耕地质量，有利发展规模经营。同时，
                                        加强农村环境建设和农业环境保护，严格控制农村地区工业污染，加强对污水灌溉的监管，提高耕地环境质量和健康质量。这些是提高农业综合
                                        生产能力，确保粮食安全，保障社会经济发展，改善农村生态环境推进城乡统筹发展的必然要求。
                                </td>
                            </tr>
                            <tr>
                                <td><font style="color: #ff1b11;font-weight: bold">（3）</font>实行耕地适度规模经营，提高农业生产的产业化水平。随着年轻农民大批进城务工，老农户逐渐减少，“空心村”越来越多，耕地撂荒问题越来越
                                        严重。为了解决这些问题，有必要建立严格科学的农村土地财产保护制度，推进农村土地使用权的合理流转，在保护农民利益、保障农民生活
                                        、维护农村家庭土地承包经营基本制度稳定的基础上，扩大土地规模经营，推广先进的农业生产技术，实现现代化生产。
                                </td>
                            </tr>
                            <tr>
                                <td><font style="color: #ff1b11;font-weight: bold">（4）</font>建立耕地质量建设激励机制，对提高耕地质量的有关措施实行补贴。采取相关政策措施，鼓励耕地承包经营者保护耕地，培肥地力，提升质量。
                                        如秸秆还田补贴，种植绿肥补贴，有机肥补贴，保护性耕作补贴等，并制订具体的补贴额度，大规模实施中低产田改造，强化耕地质量建设。
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <font style="color: #ff1b11;font-weight: bold">（5）</font>中国各地区的耕地质量提升的建议：
                                    <div>
                                        <a id="moreinfo" style="cursor: pointer;">详情</a>
                                    </div>
                                    <div id="subinfo" style="display: none">
                                        <font style="font-weight: bold">A. 以黑龙江海伦市、吉林农安县为代表的东北区</font>：（a）平整土地，合理划分和
                                        归并耕作田块，提高耕作层厚度，适度开发宜农后备土地资源。使耕作田块集中
                                        连片，保持黑土耕作层厚度。（b）实施测土配方施肥和保护性耕作，发展节水农
                                        业，深耕深松耕作层，大力推广绿肥种植，改良盐碱土壤。提高土壤有机质含量，
                                        防止土壤酸化。（c）适当增加有效灌溉面积，配套改造现有灌排设施，完善灌排
                                        工程体系，提高灌溉保证率，改善农田排水条件；旱作区推进喷灌、滴灌等节水
                                        灌溉工程建设，改造平原低洼区排水设施，推广水稻控制灌溉技术。（d）整修和
                                        新建田间道、生产路和机械下田坡道等附属设施，合理设计路面宽度，提高田间
                                        道路通达度。（e）新建、修复防护林带，保护和改善农田生态环境，提高农田防
                                        护控制率。<br>

                                        <font style="font-weight: bold">B. 以北京大兴区、江苏东海县、河南禹州市为代表的黄淮海区</font>：（a）平整土地，
                                        合理划分和适度归并田块，客土改良质地过沙土壤。实现耕作田块集中连片，提
                                        高耕作层有效土层厚度。（b）实施测土配方施肥、保护性耕作和秸秆还田，发展
                                        节水农业，大力推广绿肥种植，治理盐碱、重金属污染土地。开展测土配方施肥，
                                        保持土壤有机质含量和和土壤 p H 值。（c）更新改造现有机井，完善井渠结合灌
                                        溉体系，推广节水灌溉技术，推进管道输水灌溉、喷灌、滴灌等高效节水灌溉工
                                        程建设，提高水资源利用率和灌溉保证率，改善田间排水条件。（d）整修和新建
                                        田间道、生产路和机械下田坡道等附属设施，合理设计田间道路宽度，提高田间道
                                        路通达度。（e）新建、修复防护林带，保护和改善农田生态环境，提高农田防
                                        护控制率。<br>

                                        <font style="font-weight: bold">C. 以湖北公安县、浙江慈溪市为代表的长江中下游区</font>：（a）合理划分和适度归
                                        并耕作田块，保持有效耕作层厚度。（b）实施秸秆还田，大力推广绿肥种植，实
                                        施测土配方施肥，推广水肥一体化，治理重金属污染土地，因地制宜改良土壤偏
                                        酸、潜育化障碍，提高土壤有机质含量，防止土壤酸化。（c）整治现有圩（垸）
                                        区，更新改造灌溉排水涵闸、泵站，疏浚改造排水沟系，降低地下水位，推广水
                                        稻控制灌溉技术。完善农田灌排设施，提高水稻区灌溉保证率和洪涝灾害抵御能
                                        力。（d）合理确定田间道路的密度和宽度，整修和新建田间道、生产路，使田间
                                        道路通达度达到 100%。（e）新建、修复防护林带，保持和改善生态条件，防止
                                        或减少污染，完善农田防护控制率。<br>

                                        <font style="font-weight: bold">D. 以福建建瓯市、江西吉安县为代表的江南区</font>：（a）因地制宜修筑梯田，加大
                                        田块梯田化率，通过挖填客土、挖高填低增加土体厚度，提高耕作层厚度，开展
                                        水土保持、水源涵养的护路护沟等植被生态工程建设。（b）建设秸秆还田和农家
                                        肥积造设施，包括田间积肥坑池，配套小型积肥、运肥等辅助设施。推广绿肥种
                                        植。实施测土配方施肥，发展节水农业。提高土壤有机质含量，保持土壤 p H 值，
                                        防止土壤酸化。（c）新建、改造灌区内小型水库、塘（堰）和泵站、傍山撇洪渠
                                        道，加强雨水集蓄利用、河塘清淤整治等工程建设，提高灌溉供水保障和防洪能
                                        力；推广水稻控制灌溉技术。提高稻区、糖料蔗等优势产区灌溉保证率。（d）合
                                        理确定田间道路的密度和宽度，整修和新建田间道、生产路。提高田间道路通达
                                        度。（e）新建、修复防护林带，提高农田防护控制率。<br>

                                        <font style="font-weight: bold">E. 以广东化州市为代表的华南区</font>：（a）平整土地。提高耕作层厚度，降低田间
                                        基础设施占地率，防止农田水土流失。（b）建设秸秆还田和农家肥积造设施，包
                                        括田间积肥设施，配套小型积肥、运肥等辅助设施。大力推广绿肥种植。配合施
                                        用碱性土壤改良剂，改良酸化土壤，防治土壤污染，提高土壤有机质含量，改良
                                        土壤 p H 值，提高测土配方施肥覆盖率。（c）开展农田水利工程建设，适当增加
                                        有效灌溉面积，提高灌溉设计保证率；建设、改造小型水库、塘（堰）坝、水池
                                        水窖、泵站、傍山引洪渠道等小型水源工程，提高供水保障能力。提高灌溉设计
                                        保证率。（d）合理确定田间道路的密度和宽度，整修和新建田间道、生产路，提
                                        高田间道路通达度（e）新建、修复防护林带，提高农田防护林覆盖率。<br>
                                        <a id="lessinfo" style="cursor: pointer;">收起</a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    </div>
<div class="foot" style="position: relative">
	<div style="width: 1000px; margin: 0 auto">
		Copyright© 2016 .All Rights Reserved<br> 版权所有
	</div>
</div>
<script type="text/javascript">
	  $(document).ready( function() {
	    $(".main").jumpto();
	  });

</script>
</body></html>